<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">


<title>Smart gardening</title>



</head>
<body>

<form action="loginmethod" method="post">
    {% csrf_token %}

    <h1>login</h1>

    <input type="text" name="username" type="text" placeholder="username"><br>
    <input type="password" name="password" type="password" placeholder="password"><br>
    <input type="submit" >




</form>
<button onclick="backtohome()"  >Back-to-home</button>

<script>
    function backtohome() {
    location.replace("home.html")
    }

    </script>
</body>
</html>